<header id="header" class="page-header sky-gradient">
      <div class="container pt-md-5 pt-5 pb-md-0 pb-4">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5">
            <h2 class="mb-3">{{presentation.accroche}}</h2>
            <p>
              {{presentation.phrase}}
            </p>
          </div>
          <div class="col-md-5 d-none d-md-block">
            <img
              src="img/logo_white.svg"
              alt="Logo de l'association La Bize Aux Etoiles"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <img class="horizon d-none d-md-block" src="img/horizon.svg" alt="" />
    </header>